
#header-part1{
	width:1170px;
	height:30px;
	margin:0 auto;
	border-bottom:1px solid #e5e5e5;
	font-family:"Lato",Arial,sans-serif;
}

#header-part1>#top-header>p{
	font-size: 12px;
    margin-top: 7px;
    margin-left: 10px;
	color:#aaaaaa;
}

#header-part1>#top-header{
	cursor:pointer;
}

#header-part1>#top-header:hover p{
	color:black;
	transition:all 0.5s ease;
}

#header-part1>#top-header>.fa-bullhorn{
	position:absolute;
	left:0;
	top:8px;
	color:#aaaaaa;
}

#block-language{
	margin:0;
	padding:0;
	list-style:none;
	font-size:0;
}

#block-language>li{
	display:inline-block;
	font-size:12px;
	line-height:30px;
	vertical-align:top;
}

#block-language>li>a{
	display:block;
	padding: 0px 15px;
	text-decoration:none;
	color:#aaaaaa;
}

#block-language>li>a:hover{
	color:black;
	transition:all 0.5s ease;
}

#shippin-block>p{
	margin-top: 5px;
	font-size:12px;
	color:#aaaaaa;
}

#shippin-block>p>a{
	color:#aaaaaa;
	text-decoration:underline;
}

#register-block>#block-reg{
	position:absolute;
	right:0;
	margin:0;
	padding:0;
	list-style:none;
	font-size:0;
}

#register-block>#block-reg>li>a:hover{
	background-color:#aaaaaa;
	color:white;
	transition:all 0.5s ease;
}

#register-block>#block-reg>li{
	display:inline-block;
	font-size:12px;
	line-height:30px;
	vertical-align:top;
}

#register-block>#block-reg>li>a{
	display:block;
	padding:0 15px;
	text-decoration:none;
	color:#aaaaaa;
}

#header-part2{
	width:1170px;
	height:30px;
	margin:0 auto;
	margin-top:15px;
	font-family:"Lato",Arial,sans-serif;
}

#header-part2>#ref-press{
	position:absolute;
}

#header-part2>#ref-press>#txt-search{
	width: 96%;
	height:30px;
    position: absolute;
    left: 0;
}

#header-part2>#ref-press>.fa-search{
    position: absolute;
    right: 20px;
    top: 7px;
	color: #aaaaaa;
	cursor:pointer;
}

#header-part2>#ref-press>.fa-search:hover{
	color:black;
	transition:all 0.5s ease;
}

#header-part2>#ref-buy{
	height:30px;
	border:1px solid #aaaaaa;
	cursor:pointer;
}

#header-part2>#ref-buy:hover{
	opacity:0.8;
	transition:all 0.5s ease;
}

#header-part2>#ref-buy>span{
	position: absolute;
    margin-top: 3px;
    margin-left: 6px;
    font-size: 14px;
	font-family:"PlayfairDisplay",Arial,sans-serif;
}

#header-part2>#ref-buy>img{
	margin-top:1px;
}

#header-menu{
	width:1200px;
	margin:0 auto;
	margin-top:15px;
	font-family:"Lato",Arial,sans-serif;
}

#header-menu>#menu-pill>#pills-ul{
	width:1175px;
}

#header-menu>#menu-pill>#pills-ul>li{
	margin-right:-2px;
	border:1px solid #e5e5e5;
}

.caret{
	margin-left: 10px !important;
    margin-top: -1px !important;
	transition:all 0.2s ease;
}

#header-menu>#menu-pill>#pills-ul>li>a{
	font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 13px 59.1px;
    color: black;
    border-radius: 0px;
}

#header-menu>#menu-pill>#pills-ul>#activity{
	background-color:#aaaaaa;
}

#header-menu>#menu-pill>#pills-ul>#activity>a{
	color:white !important;
}

#header-menu>#menu-pill>#pills-ul>li>a:hover{
	background-color:#aaaaaa !important;
	color:white;
	transition:all 0.5s ease;
}

#hide-elem{
	display:none;
	height: 285px;
    width: 100%;
    background-color: white;
    position: absolute;
}

#hide-elem>#content-hide{
	width:1170px;
	height:315px;
	margin:0 auto;
}

#hide-elem>#content-hide>#top-table{
	position: relative;
    top: -10px;
	width: 770px;
    margin: 0px;
    padding: 0;
}

#hide-elem>#content-hide>#top-table>li{
	display:inline-block;
	font-size:18px;
	font-family:"PlayfairDisplay",Arial,sans-serif;
	font-weight:bold;
	border-bottom:1px solid #aaaaaa;
}

#hide-elem>#content-hide>#top-table>li:first-child{
	width: 570px;
    padding: 20px 1px;
    margin-top: 18px;
}

#hide-elem>#content-hide>#top-table>li:last-child{
	width: 170px;
    padding: 20px 1px;
    margin-top: 18px;
    margin-left: 26px;
}

#hide-elem>#content-hide>#block-sale{
	width: 370px;
    height: 249px;
    margin-left: 800px;
    margin-top: -220px;
}

#hide-elem>#content-hide>#block-sale>img:last-child{
	margin-left:25px;
}

#hide-elem>#content-hide>#block-sale>#b>li{
	list-style:none;
	font-size:14px;
}

#hide-elem>#content-hide>#block-sale>#b>li:first-child{
	font-family:"Lato",Arial,sans-serif;
}

#hide-elem>#content-hide>#block-sale>#b>li:last-child{
	font-family:"PlayfairDisplay",Arial,sans-serif;
}

.dir1{
	margin-left: -1px;
    margin-top: 5px;
}

.dir2{
	margin-left: 185px;
    margin-top: -50px;
}

#table{
	margin-left:-63px;
	margin-top:7px;
}
#table>tbody>tr>td{
	color:#669;
	padding: 6px 64.5px;
	font-size:14px;
	font-family:"Lato",Arial,sans-serif;
	color:#aaaaaa;
}

#content-hide>#table>tbody>tr>td:hover{
	color:black;
	transition:all 0.5s ease;
}
#background{
	height:700px;
	margin:0 auto;
	background-image:url(../img/main/background.png);
	background-repeat:no-repeat;
	background-size:cover;
	cursor:pointer;
}

#background>#txt-block{
	margin:0 auto;
	margin-top:245px;
	height:400px;
}

#background>#txt-block>h1{
	font-size:130px;
	font-family:"PlayfairDisplay",Arial,sans-serif;
	text-align:center;
	vertical-align:middle;
	color:white;
}

#background>#txt-block>p{
	font-size:32px;
	font-family: "PlayfairDisplay",Arial,sans-serif;
    text-align: center;
    color: white;
    margin-top: 190px;
}

#background>#txt-block>#firm-txt{
	font-size: 24px;
    text-transform: uppercase;
    margin-top: -7px;
}

#background>#txt-block>#look-txt{
	font-size:16px;
	font-family:"Lato",Arial,sans-serif;
	margin-top: -7px;
}

#shop-content{
	width:1170px;
	height:160px;
	margin:0 auto;
	margin-top:30px;
	border-top:1px solid black;
	border-bottom:1px solid black;
	cursor:pointer;
}

#shop-content>#shop-block{
	height:160px;
	border-left:1px solid black;
}

#shop-content>#shop-block:last-child{
	border-right:1px solid black;
}

#shop-content>#shop-block>img{
	margin:30px 20px;
}

#shop-content>#shop-block>b{
	position: absolute;
    top: 55px;
	font-size:16px;
	font-family:"Lato",Arial,sans-serif;
	text-transform:uppercase;
	color:black;
}

#shop-content>#shop-block>p{
	position: absolute;
    top: 85px;
    left: 156px;
	font-size:14px;
	font-style:italic;
	font-family:"Lato",Arial,sans-serif;
	color:#aaaaaa;
}

#bg-img{
	width:1170px;
	height:700px;
	margin:0 auto;
	margin-top:30px;
	cursor:pointer;
}

#bg-img>#boy>img{
	margin-left:-15px;
}

#bg-img>#boy>#description-block{
	height:235px;
	margin-top:-155px;
}

#bg-img>#boy>#description-block>h1{
	font-size:72px;
	font-family:"PlayfairDisplay",Arial,sans-serif;
	color:black;
	text-align:center;
}

#bg-img>#boy>#description-block>h3{
	font-size:16px;
	font-family:"Lato",Arial,sans-serif;
	text-transform:uppercase;
	text-align:center;
}

#bg-img>#boy>#description-block>.fa-angle-double-right{
	position:absolute;
	left:285px;
	color:#cf2226;
	cursor:pointer;
}

#bg-img>#boy>#description-block>.fa-angle-double-right:hover{
	color:black;
	transition:all 0.5s ease;
}

#bg-img>#girl>#description-block{
	height:235px;
	margin-top:-155px;
}

#bg-img>#girl>#description-block>h1{
	font-size:72px;
	font-family:"PlayfairDisplay",Arial,sans-serif;
	color:black;
	text-align:center;
}

#bg-img>#girl>#description-block>h3{
	font-size:16px;
	font-family:"Lato",Arial,sans-serif;
	text-transform:uppercase;
	text-align:center;
}

#bg-img>#girl>#description-block>.fa-angle-double-right{
	position:absolute;
	left:285px;
	color:#cf2226;
	cursor:pointer;
}

#bg-img>#girl>#description-block>.fa-angle-double-right:hover{
	color:black;
	transition:all 0.5s ease;
}

#gallery-block{
	width:1170px;
	height:540px;
	margin:0 auto;
	margin-top:100px;
	cursor:pointer;
}

#gallery-block>h3{
	font-size:20px;
	font-family:"Lato",Arial,sans-serif;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	color:black;
}

#gallery-block>h4{
	font-size:16px;
	font-family:"PlayfairDisplay",Arial,sans-serif;
	font-style:italic;
	text-align:center;
	color:#aaaaaa;
}

#gallery-block>#block-indicators{
	width:100px;
	margin:0 auto;
	margin-top:30px;
	padding:0;
	list-style:none;
}

#gallery-block>#block-indicators>li{
	display:inline-block;
	vertical-align:top;
	margin-right:38px;
}

#gallery-block>#block-indicators>li:last-child{
	margin-right:0;
}

#gallery-block>#block-indicators>li>a{
	display:block;
	width:5px;
	height:5px;
	border-radius:50%;
	background-color:#aaaaaa;
}

#gallery-block>#block-indicators>li>a:hover{
	background-color:black;
	transition:all 0.5s ease;
}

#gallery-block>#block-indicators>li>#active{
	background-color:black;
}

#gallery-block>#slide-viewport{
	height:390px;
	margin:0 auto;
	margin-top:38px;
	overflow:hidden;
	cursor:pointer;
}

#gallery-block>#slide-viewport>#long-block{
	height:390px;
	width:10000px;
	margin:0;
	padding:0;
	list-style:none;
}

#gallery-block>#slide-viewport>#long-block>.slide1{
	height:320px;
	width:250px;
	margin-right:50px;
}

#gallery-block>#slide-viewport>#long-block>.slide1>.circle-block{
	display:none;
	position:absolute;
	margin-top:135px;
}

#gallery-block>#slide-viewport>#long-block>.slide1>.circle-block>li{
	display:inline-block;
	margin-left:1px;
	height:50px;
	width:50px;
	border-radius:50%;
	background-color:black;
}

#gallery-block>#slide-viewport>#long-block>.slide1>.circle-block>li:hover{
	opacity:1.0;
}

#gallery-block>#slide-viewport>#long-block>.slide1>.stars{
	display:none;
	position: absolute;
    top: 220px;
    left: 115px;
}

#gallery-block>#slide-viewport>#long-block>.slide1>img{
	margin-left:-15px;
}

#gallery-block>#slide-viewport>#long-block>.slide1>h3{
	font-family:"Lato",Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	color:black;
}

#gallery-block>#slide-viewport>#long-block>.slide1>h4{
	text-align:center;
	font-size:14px;
	font-style:italic;
	font-family:"PlayfairDisplay",Arial,sans-serif;
	color:#aaaaaa;
}

#shoes-block{
	width:1170px;
	height:580px;
	margin:0 auto;
	margin-top:110px;
	cursor:pointer;
}

#shoes-block>#text-shoes{
	margin:0 auto;
	margin-top:-145px;
	width:400px;
	height:245px;
}

#shoes-block>#text-shoes>h1{
	font-size:72px;
	font-family:"PlayfairDisplay",Arial,sans-serif;
	text-align:center;
	color:black;
}

#shoes-block>#text-shoes>h4{
	font-size:16px;
	font-family:"Lato",Arial,sans-serif;
	font-style:italic;
	text-align:center;
	text-transform:uppercase;
	color:black;
}

#shoes-block>#text-shoes>.fa-angle-double-right{
	display: block;
	width:17px;
    margin-left: 190px;
	color:#cf2226;
	cursor:pointer;
}

#shoes-block>#text-shoes>.fa-angle-double-right:hover{
	color:black;
	transition:all 0.5s ease;
}



#hot-gallery{
	width:1170px;
	height:540px;
	margin:0 auto;
	margin-top:100px;
	cursor:pointer;
}

#hot-gallery>h3{
	font-size:20px;
	font-family:"Lato",Arial,sans-serif;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	color:black;
}

#hot-gallery>h4{
	font-size:16px;
	font-family:"PlayfairDisplay",Arial,sans-serif;
	font-style:italic;
	text-align:center;
	color:#aaaaaa;
}

#hot-gallery>#block-indicators{
	width:100px;
	margin:0 auto;
	margin-top:30px;
	padding:0;
	list-style:none;
}

#hot-gallery>#block-indicators>li{
	display:inline-block;
	vertical-align:top;
	margin-right:38px;
}

#hot-gallery>#block-indicators>li:last-child{
	margin-right:0;
}

#hot-gallery>#block-indicators>li>a{
	display:block;
	width:5px;
	height:5px;
	border-radius:50%;
	background-color:#aaaaaa;
}

#hot-gallery>#block-indicators>li>a:hover{
	background-color:black;
	transition:all 0.5s ease;
}

#hot-gallery>#block-indicators>li>#active{
	background-color:black;
}

#hot-gallery>#slide-viewport{
	height:390px;
	margin:0 auto;
	margin-top:38px;
	overflow:hidden;
	cursor:pointer;
}

#hot-gallery>#slide-viewport>#long-block{
	height:390px;
	width:10000px;
	margin:0;
	padding:0;
	list-style:none;
}

#hot-gallery>#slide-viewport>#long-block>.slide1{
	height:320px;
	width:250px;
	margin-right:50px;
}

#hot-gallery>#slide-viewport>#long-block>.slide1>.circle-block{
	display:none;
	position:absolute;
	margin-top:135px;
}

#hot-gallery>#slide-viewport>#long-block>.slide1>.circle-block>li{
	display:inline-block;
	margin-left:1px;
	height:50px;
	width:50px;
	border-radius:50%;
	background-color:black;
}

#hot-gallery>#slide-viewport>#long-block>.slide1>.circle-block>li:hover{
	opacity:1.0;
}

#hot-gallery>#slide-viewport>#long-block>.slide1>.stars{
	display:none;
	position: absolute;
    top: 220px;
    left: 115px;
}

.fa-cart-arrow-down{
	color: white;
    position: absolute;
    top: 18px;
    left: 58px;
}

.fa-heart-o{
	color: white;
    position: absolute;
    top: 18px;
    left: 114px;
}

.fa-plus{
	color: white;
    position: absolute;
    top: 18px;
    left: 171px;
}

#hot-gallery>#slide-viewport>#long-block>.slide1>img{
	margin-left:-15px;
}

#hot-gallery>#slide-viewport>#long-block>.slide1>h3{
	font-family:"Lato",Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	color:black;
}

#hot-gallery>#slide-viewport>#long-block>.slide1>h4{
	text-align:center;
	font-size:14px;
	font-style:italic;
	font-family:"PlayfairDisplay",Arial,sans-serif;
	color:#aaaaaa;
}

#free-block{
	margin:0 auto;
	margin-top:110px;
	width:1170px;
	height:180px;
	border:1px solid black;
}

#free-block:first-child{
}

#free-block>#shipp-block{
	height:180px;
	border-right:1px solid black;
	cursor:pointer;
}

#free-block>#shipp-block>h1{
	font-size: 20px;
    position: relative;
    top: 25px;
    font-weight: bold;
    font-family: "Lato",Arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

#free-block>#shipp-block>h2{
	position: relative;
    top: 20px;
	font-size: 16px;
    font-style: italic;
    font-family: "PlayfairDisplay",Arial,sans-serif;
    text-align: center;
}

#free-block>#shipp-block>a{
	display: block;
    font-size: 12px;
    width: 125px;
    margin-left: 232px;
    margin: top;
    margin-top: 35px;
}

#free-block>#return-block{
	height:180px;
	cursor:pointer;
}

#free-block>#return-block>h1{
	font-size: 20px;
    position: relative;
    top: 25px;
    font-weight: bold;
    font-family: "Lato",Arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

#free-block>#return-block>h2{
	position: relative;
    top: 20px;
	font-size: 16px;
    font-style: italic;
    font-family: "PlayfairDisplay",Arial,sans-serif;
    text-align: center;
}

#free-block>#return-block>a{
	display: block;
    font-size: 12px;
    width: 125px;
    margin-left: 232px;
    margin: top;
    margin-top: 35px;
}

#news-letter{
	width:1170px;
	height:370px;
	margin:0 auto;
	margin-top:110px;
}

#news-letter>#send-letter{
	height:370px;
	background-color:#cccccc;
	cursor:pointer;
}

#news-letter>#send-letter>h1{
	margin-left: 35px;
    margin-top: 65px;
	font-size:72px;
	font-family:"PlayfairDisplay",Arial,sans-serif;
	color:black;
}

#news-letter>#send-letter>#email{
	width: 400px;
    height: 48.6px;
    margin-left: 38px;
    margin-top: 20px;
}

#news-letter>#send-letter>#but{
	font-size: 21px;
    padding: 8px 35px;
    font-family: "PlayfairDisplay",Arial,sans-serif;
    margin-left: -4px;
    margin-top: -2px;
    color: white;
    background-color: black;
    text-transform: uppercase;
    border-radius: 0;
}

#news-letter>#send-letter>#but:hover{
	background-color:grey;
	transition:all 0.5s ease;
}

#news-letter>#send-letter>p{
	width: 73%;
    margin-left: 35px;
    margin-top: 20px;
    font-size: 16px;
    font-family: "PlayfairDisplay",Arial,sans-serif;
    font-style: italic;
    color: black;
}

#news-letter>#collage-block{
	height:370px;
}

#news-letter>#collage-block>#block-photo{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	list-style:none;
}

#news-letter>#collage-block>#block-photo>li{
	margin:1px;
	cursor:pointer;
}

#news-letter>#collage-block>#block-photo>li:hover{
	opacity:0.5;
	transition:all 0.5s ease;
}

#foot-block{
	width:1170px;
	height:60px;
	margin:0 auto;
	margin-top:70px;
}

#foot-block>#foot1>ul{
	padding:0;
	margin:20px;
}

#foot-block>#foot1>ul>li{
	display:inline-block;
	margin-left:16px;
	font-size:12px;
	font-family:"Lato",Arial,sans-serif;
	color:#aaaaaa;
	cursor:pointer;
}

#foot-block>#foot1>ul>li:first-child{
	margin-left:28px;
}

#foot-block>#foot1>ul>li:hover{
	color:black;
	transition:all 0.5s ease;
}

#foot-block>#button-start>#btn-start{
	display:block;
	width:60px;
	height:60px;
	margin-top:0px;
	background-color:black;
}

#foot-block>#button-start>#btn-start:hover{
	background-color:#aaaaaa;
	transition:all 0.5s ease;
}

#foot-block>#button-start>#btn-start>.fa-arrow-up{
	position:relative;
	top:20px;
	left:23px;
	color:white;
}

#foot-block>#foot2>ul{
	padding:0;
	margin:0;
	margin-top:20px;
}

#foot-block>#foot2>ul>li{
	display:inline-block;
	margin-left:19px;
	font-size:12px;
	font-family:"Lato",Arial,sans-serif;
	color:#aaaaaa;
	cursor:pointer;
}

#foot-block>#foot2>ul>li:hover{
	color:black;
	transition:all 0.5s ease;
}




@font-face{
	font-family:"Lato";
	src:url(../fonts/Lato/Lato-Regular.ttf);
	font-style:normal;
	font-weight:normal;
}





@font-face{
	font-family:"PlayfairDisplay";
	src:url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
	font-style:normal;
	font-weight:normal;
}